body {
  font-family:Helvetica;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://calendar-2025-may.bauska.org/images/andthegaynightlife-600px2.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#FFF;
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}

.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}

.may-day {
    background-color:#e8e193;  /* very soft yellow */
}
.world-press-freedom {
    background-color:#c2e7e7;  /* light grayish cyan */
}
.intl-firefighters {
    background-color:#ff3333;  /* vivid red */
}
.starwars {
    background-color:#ff9933;  /* vivid orange */
}
.world-laughter {
    background-color:#ff3399;  /* vivid pink */
}
.natl-cinco-de-mayo {
    background-color:#3399ff;  /* vivid blue */
}
.natl-nurses {
    background-color:#ff0000;  /* bright red */
}
.natl-teachers {
    background-color:#9933ff;  /* vivid violet */
}
.natl-rememberance {
    background-color:#ff8c1a;  /* vivid orange */
}
.world-migratory-bird {
    background-color:#ffb21a;  /* vivid orange */
}
.mothers-day {
    background-color:#ff0000;  /* bright red */
}
.natl-chocolate-chip {
    background-color:#9ab3ff;  /* pale blue */
}
.bike-to-work {
    background-color:#98fb98;  /* very soft lime green */
}
.endangered-species {
    background-color:#a6f4ff;  /* pale cyan */
}
.armed-forces {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
.natl-rescue-dog {
    background-color:#ffff00;  /* yellow */
}
.world-bee {
    background-color:#d3d3d3;  /* light gray */
}
.cultural-diversity {
    background-color:#00ff00;  /* dark green */
}
.red-nose {
    background-color:#cd00cd;  /* strong magenta */
}
.world-goth {
    background-color:#ccff9a;  /* pale green */
}
.world-turtle {
    background-color:#ffd700;  /* gold */
}
.natl-brother {
    background-color:#00ff00;  /* lime green */
}
.natl-wine {
    background-color:#ba9ce8;  /* very soft violet */
}
.memorial {
    background-color:#00eeee;  /* pure cyan */
}
.natl-burger {
    background-color:#ff7e6d;  /* very light red */
}
.world-otter {
    background-color:#afffad;  /* pale lime green */
}
.intl-day-un-peace {
    background-color:#e8e193;  /* very soft yellow */
}
.world-ms {
    background-color:#e8e993;  /* very soft yellow */
}
.world-no-tobacco {
    background-color:#ff9a9a;  /* pale red (pink tone) */
}
