<!-- css/styles of Calendar-2025-Aug.bauska.org -->
body {
  font-family:Helvetica;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2025-aug.bauska.org/images/mst3k-texaco-600.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#FFF;
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}

.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}

.intl-beer {
    background-color:#e8e193;  /* very soft yellow */
}
.natl-girlfriend {
    background-color:#c2e7e7;  /* light grayish cyan */
}
.icecream-sandwich {
    background-color:#ff3333;  /* vivid red */
}
.friendship {
    background-color:#ff9933;  /* vivid orange */
}
.obama {
    background-color:#ff3399;  /* vivid pink */
}
.intl-cat {
    background-color:#3399ff;  /* vivid blue */
}
.natl-rootbeer {
    background-color:#ff0000;  /* bright red */
}
.natl-lazy {
    background-color:#9933ff;  /* vivid violet */
}
.world-lizard {
    background-color:#ff8c1a;  /* vivid orange */
}
.natl-tellajoke {
    background-color:#ffb21a;  /* vivid orange */
}
.black-cat {
    background-color:#ff0000;  /* bright red */
}
.world-humanitarian {
    background-color:#9ab3ff;  /* pale blue */
}
.natl-radio {
    background-color:#98fb98;  /* very soft lime green */
}
.senior-citizens {
    background-color:#a6f4ff;  /* pale cyan */
}
.natl-tooth-fairy {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
.natl-waffle {
    background-color:#ffff00;  /* yellow */
}
.ukraine-independence {
    background-color:#d3d3d3;  /* light gray */
}
.natl-dogday {
    background-color:#00ff00;  /* dark green */
}
.womens-equality {
    background-color:#cd00cd;  /* strong magenta */
}
.intl-bacon {
    background-color:#ccff9a;  /* pale green */
}
